footer
{
	background-color: rgb(49 49 49);
	height: 300px;
	position: absolute;
	bottom:-669px;
	left: 0px;
	width: 100%;
	border-top: 3px solid rgb(49 49 49);
	border-left: none;
	border-right: none;
	border-radius:1px;
	padding: 0px;
	margin: 0px;
}
.p1
{
	color: white;
	font-size: 23px;
}
.p2
{
	color: white;
	font-size: 23px;
}
.u1
{
	float: right;
	position:relative;
	bottom: 230px;
	right: 850px;
	list-style-type: none;
}
.p3
{
	color: white;
	font-size: 23px;
}
.u2
{
	float: right;
	position:relative;
	bottom: 230px;
	left: -320px;
	list-style-type: none;
}
.p4
{
	color: white;
	font-size: 23px;
}
.u3
{
	float: right;
	position:relative;
	bottom: 230px;
	left: 350px;
	text-decoration: none;
	list-style-type: none;
}
.u0
{
	list-style-type: none;
}
a
{
	color: white;
	text-decoration: none;
}